@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.box_size{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}
.box1{background-color: #fff;}
.box2{background-color: #F4E570;}
.box3{background-color: #D1CED5;}
.box4{
    background-image: url(img/c_05.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: black;
    background-size: cover;
}

.wrap{
    position: absolute;
    width: 1100px;
    height: 900px;
    border: 0px solid red;
}

.b1_img01{
    position: inherit;
    top: 79px;
}
.b1_img02{
    top: 79px;
    right: 0px;
    position: inherit;
}
.b1_cont{
    bottom: 102px;
    position: inherit;
    border: 0px solid blue;
    width: 260px;
    left: 272px;
    text-align: right;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: Noto Sans KR;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.06em;
    line-height: 1.4;
}

.box2 > .wrap{
    background-image: url('img/c_03.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.b2_cont{
    border: 0px solid blue;
    top: 75px;
    position: inherit;
    width: 1100px;

    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.06em;
    line-height: 1.4;
}

.box3 > .wrap{
    background-image: url('img/c_04.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.b3_cont{
    position: inherit;
    top: 72px;
    border: 0px solid blue;

    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.06em;
    line-height: 1.4;
}

.b4{
    position: inherit;
    border: 0px solid blue;
    width: 100%;
}


.b4_cont01{
    top: 61px;
    display: flex;
    justify-content: center;
}
.b4_cont02{
    top: 637px;

    font-style: Noto Sans KR;
    font-weight: Regular;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: -0.06em;
    line-height: 1.5;
    text-align: center;
}
.b4_cont03{
    top: 723px;

    font-style: Apple SD Gothic Neo;
    font-weight: Regular;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.06em;
    line-height: 1.5;
    text-align: center;
}
.b4_cont04{
    top: 796px;
    display: flex;
    justify-content: center;
}
.b4_cont04 > a > img:hover{
    filter: drop-shadow(0px 0px 8px #fff);
}